@import url("https://fonts.googleapis.com/css?family=Russo+One");

:root {
  --padWidth: 100px;
  --padHeight: 80px;
}
body {
  font-family: Russo One;
  background-image: url(https://glanfaloth.github.io/projects/freecodecamp/imgs/drum.gif);
  background-repeat: no-repeat;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  display: flex;
  outline: 10px solid #fab1a0;
  position: relative;
  text-align: center;
  background-color: rgba(0, 184, 148, 0.5);
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 5px;
  right: 10px;
}

.logo .inner-logo {
  display: inline-block;
  font-style: italic;
  font-size: 20px;
}

.controls-container {
  width: 240px;
  display: flex;
  flex-direction: column;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}
.controls-container .control {
  width: 100px;
  margin: auto;
}

.controls-container .control p {
  margin-bottom: 10px;
}


.controls-container #display {
  width: 200px;
  background-color: #fab1a0;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

.pad-bank {
  width: 3 * var(--padWidth);
  margin: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.pad-bank .drum-pad {
  width: var(--padWidth);
  height: var(--padHeight);
  margin-right: 10px;
  border-radius: 5px;
  padding-top: 35px;
}