@import url("https://fonts.googleapis.com/css?family=Russo+One");

:root {
  --padWidth: 100px;
  --padHeight: 80px;
}
body {
  font-family: Russo One;
  background-image: url(https://media.giphy.com/media/IY6aaObBmN5Je/giphy.gif);
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-container {
  outline: 10px solid #fab1a0;
  position: relative;
  width: 60vw;
  text-align: center;
  background-color: rgba(0, 184, 148, 0.5);
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 5px;
  right: 10px;
}

.logo .inner-logo {
  display: inline-block;
  font-style: italic;
  font-size: 20px;
}

.controls-container {
  width: 240px;
  height: var(--padHeight) * 3 + 32;
  display: inline-block;
  margin: 40px 20px 0 10px;
  vertical-align: top;
}
.controls-container .control {
  width: 100px;
  margin: auto;
}

.controls-container .control p {
  margin-bottom: 10px;
}


.controls-container #display {
  width: 200px;
  background-color: #fab1a0;
  margin: 15px auto;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 10px;
}

.outer-select {
  margin: auto;
  border: 1px solid black;
  width: 50px;
  height: 20px;
  padding: 1px;
  background-color: black;
}

.inner-select {
  width: 23px;
  height: 19px;
  background: blue;
  border: 1px solid black;
  box-sizing: border-box;
  cursor: pointer;
}